/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url(http://fonts.googleapis.com/css?family=Ubuntu|Open+Sans);
/* line 6, src/scss/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 27, src/scss/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 31, src/scss/_reset.scss */
body {
  line-height: 1;
}

/* line 34, src/scss/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 37, src/scss/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 40, src/scss/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 45, src/scss/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 12, src/scss/style.scss */
html {
  font-size: 62.5%;
}

/* line 16, src/scss/style.scss */
body {
  padding: 0;
  color: #FFF;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.8rem;
  min-height: 100vh;
  box-sizing: border-box;
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: bottom center;
}

/* line 33, src/scss/style.scss */
.form-wrapper {
  margin: 0 auto;
  width: 90%;
  border: 10px solid rgba(27, 17, 6, 0.69);
}

/* line 39, src/scss/style.scss */
.container {
  margin: 0 auto;
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  background: radial-gradient(ellipse at center, #fbf9c9 -48%, rgba(255, 255, 255, 0) 170%), url("../img/wood-pattern.jpg");
  border: 10px solid rgba(27, 17, 6, 0.69);
  background-origin: border-box;
}
/* line 51, src/scss/style.scss */
.container.frame {
  min-height: 10px;
  height: auto;
  margin-top: 25px;
}
/* line 5, src/scss/style.scss */
.container nav ul:after {
  content: "";
  display: table;
  clear: both;
}
/* line 60, src/scss/style.scss */
.container nav ul li {
  display: block;
  float: left;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
  border-bottom: 10px solid rgba(27, 17, 6, 0.69);
  background-origin: border-box;
}
/* line 72, src/scss/style.scss */
.container nav ul li a {
  color: #ba1c54;
  text-decoration: none;
  font-size: 2.8rem;
  font-family: Tahoma;
  font-weight: bold;
  text-transform: uppercase;
  mix-blend-mode: multiply;
}
/* line 85, src/scss/style.scss */
.container h1 {
  padding: 25px 0 10px;
  color: #ba1c54;
  font-size: 6.1rem;
  font-family: Tahoma;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  mix-blend-mode: multiply;
}
/* line 98, src/scss/style.scss */
.container h3 {
  padding: 10px 0 0;
  color: #ba1c54;
  font-size: 2.4rem;
  font-family: Tahoma;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}
/* line 108, src/scss/style.scss */
.container p {
  padding: 2rem 4rem 3rem;
  color: #810B35;
  font-size: 2rem;
  line-height: 3rem;
  font-family: Tahoma;
  font-weight: bold;
}
/* line 117, src/scss/style.scss */
.container .normal {
  padding: 2rem 4rem 3rem;
  color: #810B35;
  font-size: 2rem;
  line-height: 3rem;
  font-family: Tahoma;
  font-weight: bold;
}
/* line 126, src/scss/style.scss */
.container .hour {
  color: #1a160d;
}
/* line 130, src/scss/style.scss */
.container .artist {
  color: #ba1c54;
  mix-blend-mode: multiply;
  font-weight: bolder;
}
/* line 136, src/scss/style.scss */
.container .lineup-wrapper {
  padding: 0 3rem 0;
}
/* line 5, src/scss/style.scss */
.container .lineup-wrapper:after {
  content: "";
  display: table;
  clear: both;
}
/* line 141, src/scss/style.scss */
.container .lineup-wrapper .list li {
  padding-bottom: 9px;
  text-transform: uppercase;
  text-align: center;
}
/* line 146, src/scss/style.scss */
.container .lineup-wrapper .list li h3 {
  margin: 15px 0 8px;
  text-align: center;
  mix-blend-mode: multiply;
}
/* line 155, src/scss/style.scss */
.container .headline {
  padding-top: 35px;
  padding-bottom: 2rem;
  text-align: center;
}
/* line 161, src/scss/style.scss */
.container .headline li .artist {
  font-size: 2.1rem;
}

@media (min-width: 800px) {
  /* line 170, src/scss/style.scss */
  body {
    padding: 100px 0;
  }

  /* line 174, src/scss/style.scss */
  .container {
    width: 700px;
    min-height: 600px;
  }
  /* line 5, src/scss/style.scss */
  .container nav ul:after {
    content: "";
    display: table;
    clear: both;
  }
  /* line 181, src/scss/style.scss */
  .container nav ul li {
    width: 25%;
  }
  /* line 184, src/scss/style.scss */
  .container nav ul li:nth-child(2) {
    width: 50%;
    border-left: 10px solid rgba(27, 17, 6, 0.69);
    border-right: 10px solid rgba(27, 17, 6, 0.69);
    background-origin: border-box;
  }
  /* line 196, src/scss/style.scss */
  .container .lineup-wrapper .list.main {
    float: left;
    width: 50%;
    text-align: left;
  }
  /* line 201, src/scss/style.scss */
  .container .lineup-wrapper .list.main li {
    padding-bottom: 14px;
    text-align: left;
  }
  /* line 206, src/scss/style.scss */
  .container .lineup-wrapper .list.main h3 {
    text-align: left;
  }
  /* line 211, src/scss/style.scss */
  .container .lineup-wrapper .list.second {
    float: left;
    width: 50%;
    text-align: right;
  }
  /* line 216, src/scss/style.scss */
  .container .lineup-wrapper .list.second li {
    text-align: right;
  }
  /* line 220, src/scss/style.scss */
  .container .lineup-wrapper .list.second h3 {
    text-align: right;
  }
}
