@import "_reset.scss";
@import url(http://fonts.googleapis.com/css?family=Ubuntu|Open+Sans);

@mixin clearfix {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

html {
	font-size:62.5%;
}

body { 
	padding: 0;

	color: #FFF;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.8rem;
	min-height: 100vh;

	box-sizing: border-box;

	background-image: url('../img/background.jpg');
	background-repeat: no-repeat;
    background-attachment: fixed;
	background-size: cover;
	background-position: bottom center;
}

a {
	color: #BE456E;
}

.form-wrapper {
	margin: 0 auto;
	width: 90%;
	border: 10px solid rgba(27, 17, 6, 0.69);
}

.container {
	margin: 0 auto;

	width: 100%;
	min-height: 100vh;
	box-sizing: border-box;

	background: radial-gradient(ellipse at center, rgb(251, 249, 201) -48%, rgba(255, 255, 255, 0) 170%), url("../img/wood-pattern.jpg");

	border: 10px solid rgba(27, 17, 6, 0.69);
	background-origin: border-box;

	&.frame {
		min-height: 10px;
		height: auto;
		margin-top: 25px;
	}

	nav {
		ul {
			@include clearfix();
			li {
				display: block;
				float: left;
				width: 100%;
				padding: 10px;
				box-sizing: border-box;
				text-align: center;

				border-bottom: 10px solid rgba(27, 17, 6, 0.69);
				background-origin: border-box;


				a {
					color: #ba1c54;
					text-decoration: none;
					font-size: 2.8rem;
					font-family: Tahoma;
					font-weight: bold;
					text-transform: uppercase;
					mix-blend-mode: multiply;
				}
			}
		}
	}

	h1 {
		padding: 25px 0 10px;

		color: #ba1c54;
		font-size: 6.1rem;
		font-family: Tahoma;
		font-weight: bold;
		text-align: center;
		text-transform: uppercase;

		mix-blend-mode: multiply;
	}

	h3 {
		padding: 10px 0 0;
		color: #ba1c54;
		font-size: 2.4rem;
		font-family: Tahoma;
		font-weight: bold;
		text-align: center;
		text-transform: uppercase;
	}

	p {
		padding: 2rem 4rem 3rem;
		color: #810B35;
		font-size: 2rem;
		line-height: 3rem;
		font-family: Tahoma;
		font-weight: bold;
	}

	.normal {
		padding: 2rem 4rem 3rem;
		color: #810B35;
		font-size: 2rem;
		line-height: 3rem;
		font-family: Tahoma;
		font-weight: bold;
	}

	.hour {
		color: #1a160d;
	}

	.artist {
		color: #ba1c54;
		mix-blend-mode: multiply;
		font-weight: bolder;
	}

	.lineup-wrapper {
		@include clearfix();
		padding: 0 3rem 0;

		.list {
			li {
				padding-bottom: 9px;
				text-transform: uppercase;
				text-align: center;

				h3 {
					margin: 15px 0 8px;
					text-align: center; 
					mix-blend-mode: multiply;
				}
			}
		}
	}

	.headline {
		padding-top: 35px;
		padding-bottom: 2rem;
		text-align: center;

		li {
			.artist {
				font-size: 2.1rem;
			}
		}
	}
}

@media (min-width : 800px) { 

	body { 
		padding: 100px 0;
	}

	.container {
		width: 700px;
		min-height: 600px;

		nav {
			ul {
				@include clearfix();
				li {
					width: 25%;

					&:nth-child(2) {
						width: 50%;
						border-left: 10px solid rgba(27, 17, 6, 0.69);
						border-right: 10px solid rgba(27, 17, 6, 0.69);
						background-origin: border-box;
					}
				}
			}
		}

		.lineup-wrapper {
			.list {
				&.main {
					float: left;
					width: 50%;
					text-align: left;

					li {
						padding-bottom: 14px;
						text-align: left;
					}

					h3 {
						text-align: left; 
					}
				}

				&.second {
					float: left;
					width: 50%;
					text-align: right; 
					
					li {
						text-align: right; 
					}

					h3 {
						text-align: right; 
					}
				}
			}
		}
	}
}

@media (min-width : 1024px) { 

}

@media (min-width : 1400px) { 

} 